<a href="https://colab.research.google.com/github/kunal24bit/Time-Series-Analysis/blob/main/Moving_Averages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
import os
from datetime import datetime

In [ ]:
mpl.rcParams["figure.figsize"] = (10,8)
mpl.rcParams["axes.grid"] = False

In [15]:
def parse(x):
  return datetime.strptime(x,"%m/%d/%Y")

In [17]:
df = pd.read_csv("https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/electricity_consumption.csv", parse_dates=["Bill_Date"], date_parser = parse)

df.head()

   Bill_Date  On_peak  Off_peak  Usage_charge  Billed_amount  Billing_days
0 2016-01-01      365    1423.5         219.0         247.73            31
1 2016-02-01      292    1138.8         175.2         234.11            31
2 2016-03-01      130     507.0          78.0         123.85            29
3 2016-04-01      117     456.3          70.2         111.22            29
4 2016-05-01      136     530.4          81.6         118.37            29

In [23]:
print("Rows", df.shape[0])
print("COlumns", df.shape[1])
print("\n Features:\n\n", df.columns.tolist())
print("\n Missing Values :\n\n", df.isnull().any())
print("\n Unique Values:\n\n", df.nunique())

Rows 53
COlumns 6

 Features:

 ['Bill_Date', 'On_peak', 'Off_peak', 'Usage_charge', 'Billed_amount', 'Billing_days']

 Missing Values :

 Bill_Date        False
On_peak          False
Off_peak         False
Usage_charge     False
Billed_amount    False
Billing_days     False
dtype: bool

 Unique Values:

 Bill_Date        53
On_peak          51
Off_peak         53
Usage_charge     53
Billed_amount    52
Billing_days      9
dtype: int64